<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>
<body layout:fragment="content">
<h1>Profile</h1>
<div th:replace="~{profiles/profilecard(${profile})}"></div>
<i class="bi bi-person-circle"></i>
<i class="bi bi-person"></i>
<i class="bi bi-person-fill"></i>
<i class="bi bi-person-square"></i>
<i class="bi bi-person-workspace"></i>
</body>
</html>