<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>
<body layout:fragment="content">
<div th:replace="~{tempauth::tempauth}"></div>
<h1 th:text="#{label.authorities}"></h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col" th:text="#{label.value}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="authority, authorityStat : ${authorities}">
        <th scope="row" th:text="${authorityStat.index}"></th>
        <td th:text="${authority}"></td>
    </tr>
    </tbody>
</table>
<h1 th:text="#{label.create.authority}"></h1>
<form action="/authorities" method="post">
    <div class="alert alert-danger" th:if="${param.error}" th:text="#{label.create.authority.error}"></div>
    <div class="alert alert-success" th:if="${param.success}" th:text="#{label.create.authority.success}"></div>
    <div class="mb-3">
        <label class="form-label" for="authorityValue" th:text="#{label.value}"></label>
        <input class="form-control" id="authorityValue" name="value" required type="text">
    </div>
    <button class="btn btn-primary" th:text="#{label.create}" type="submit"></button>
</form>
</body>
</html>