<div th:fragment="allotherreviews(allotherreviews)">
    <h6 th:if="${!allotherreviews.isEmpty()}">Other Reviews</h6>
    <div th:each="otherreview : ${allotherreviews}">
        <!--/*@thymesVar id="otherreview" type="com.hrushi.bookstand.domain.works.WorkReview"*/-->
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <div hx-swap="outerHTML" hx-target="this" hx-trigger="load"
                         th:attr="hx-get=|/avatars/${otherreview.userId()}|"></div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text" th:text="${otherreview.review()}"></p>
                        <small class="card-text">Created At: <small class="text-body-secondary"
                                                                    th:text="${otherreview.createdAt()}"></small></small>
                        <small class="card-text">Updated At: <small class="text-body-secondary"
                                                                    th:text="${otherreview.updatedAt()}"></small></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>