<div class="mb-3" id="shelf" th:fragment="shelf(id,shelf)">
    <label th:text="#{label.add.to.shelf}">
        <select class="form-select" hx-swap="outerHTML" hx-target="#shelf" name="shelf" th:attr="hx-put=|/works/${id}/shelf|"
                th:value="${shelf}">
            <option th:text="#{label.select}"></option>
            <option th:selected="${shelf.equalsIgnoreCase('WANT TO READ')}" th:text="#{label.want.to.read}"
                    value="WANT_TO_READ"></option>
            <option th:selected="${shelf.equalsIgnoreCase('CURRENTLY READING')}" th:text="#{label.currently.reading}"
                    value="CURRENTLY_READING"></option>
            <option th:selected="${shelf.equalsIgnoreCase('READ')}" th:text="#{label.read}" value="READ"></option>
            <option th:selected="${shelf.equalsIgnoreCase('DID NOT FINISH')}" th:text="#{label.did.not.finish}"
                    value="DID_NOT_FINISH"></option>
        </select>
    </label>
</div>