<div class="mb-3" th:fragment="shelffromothers(currentlyReading,wantToRead)">
    <div class="card">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <span th:text="|${currentlyReading} #{label.people.are.currently.reading}|"></span>
                    </div>
                    <div class="col">
                        <span th:text="|${wantToRead} #{label.people.want.to.read}|"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>